// Base
@import 'base/fonts';
@import 'base/default';

// Layout
@import 'layout/header';
@import 'layout/footer';
@import 'layout/menu';

// Components
@import 'components/components';
@import 'components/cards';
@import 'components/forms';
@import 'components/modals';
@import 'components/sliders';

// Sections
@import 'sections/sections';
@import 'sections/anims';
