@use "sass:string";
@use "sass:map";
@use "sass:list";
@use "sass:math";
@use "tokens";
@use "vars" as vars;

$font-path: "../../fonts/";

// String Replace
@function str-replace($string, $search, $replace: "") {
  $index: string.index($string, $search);

  @if $index {
    @return string.slice($string, 1, $index - 1) + $replace +
      str-replace(
        string.slice($string, $index + string.length($search)),
        $search,
        $replace
      );
  }

  @return $string;
}

// Font Face
@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
  $src: ();

  $extmods: (
    eot: "?",
    svg: "#" + str-replace($name, " ", "_"),
  );

  $formats: (
    otf: "opentype",
    ttf: "truetype",
  );

  @each $ext in $exts {
    $extmod: $ext;
    @if map.has-key($extmods, $ext) {
      $extmod: "#{$ext}#{map.get($extmods, $ext)}";
    }

    $format: $ext;
    @if map.has-key($formats, $ext) {
      $format: map.get($formats, $ext);
    }

    $src: list.append(
      $src,
      url("#{$font-path}#{$path}.#{$extmod}") format("#{$format}"),
      comma
    );
  }

  @font-face {
    font-family: "#{$name}";
    font-style: $style;
    font-weight: $weight;
    src: $src;
    font-display: swap;
  }
}

//Example
//@include font-face(Samplinal, fonts/Samplinal, 500, normal, eot woff2 woff);

@mixin normalize-list() {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

// mobile first (small query should be write first, then larger)
@mixin min-width($breakpoint) {
  // Convert identifier to string for map lookup
  $breakpoint-str: $breakpoint;
  @if type-of($breakpoint) != string {
    $breakpoint-str: string.unquote("#{$breakpoint}");
  }
  $value: map.get(tokens.$breakpoints, $breakpoint-str);

  @if $value {
    @media only screen and (min-width: $value) {
      @content;
    }
  } @else {
    @warn "Breakpoint `#{$breakpoint}` not found in $breakpoints map.";
  }
}

//aspect-ratio
@mixin aspect-ratio($width, $height) {
  @if $width == 0 and $height == 0 {
    aspect-ratio: unset;

    @supports not (aspect-ratio: 1 / 1) {
      &::before,
      &::after {
        display: none;
      }
    }
    
  } @else {
    aspect-ratio: math.div($width, $height);

    @supports not (aspect-ratio: 1 / 1) {
      &::before {
        float: left;
        padding-top: calc(100% * #{$height} / #{$width});
        content: "";
      }
      &::after {
        display: block;
        content: "";
        clear: both;
      }
    }
  }
}

@mixin scrollbar-horizontal($thumb-color, $track-color, $thumb-hover-color, $scrollbar-height: 12px) {
  &::-webkit-scrollbar {
    height: $scrollbar-height;
    background-color: $track-color;
    border-radius: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $thumb-color;
    border-radius: 6px;
    border: none;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: $thumb-hover-color;
  }

  scrollbar-width: thin;
  scrollbar-color: $thumb-color $track-color;
}

@mixin scrollbar-vertical($thumb-color, $track-color, $thumb-hover-color, $scrollbar-width: 12px) {
  &::-webkit-scrollbar {
    width: $scrollbar-width;
    background-color: $track-color;
    border-radius: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $thumb-color;
    border-radius: 6px;
    border: 3px solid $track-color;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: $thumb-hover-color;
  }

  scrollbar-width: thin;
  scrollbar-color: $thumb-color $track-color;
}

// offsets
@mixin section-offset {
  margin-top: 10rem;
  margin-bottom: 10rem;

  @include min-width(lg) {
    margin-top: 12rem;
    margin-bottom: 12rem;
  }
}

// Container mixin
@mixin container($max-width: 1320px, $padding: 16px) {
  width: 100%;
  max-width: $max-width;
  margin-inline: auto;
  padding-inline: $padding;
}

// Media queries
@mixin sm {
  @media screen and (min-width: map.get(tokens.$breakpoints, 'sm')) {
    @content;
  }
}

@mixin md {
  @media screen and (min-width: map.get(tokens.$breakpoints, 'md')) {
    @content;
  }
}

@mixin lg {
  @media screen and (min-width: map.get(tokens.$breakpoints, 'lg')) {
    @content;
  }
}

@mixin xl {
  @media screen and (min-width: map.get(tokens.$breakpoints, 'xl')) {
    @content;
  }
}

// Hover with media query support
@mixin hover {
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      @content;
    }
  }
}

// Reset button styles
@mixin reset-button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  font: inherit;
  color: inherit;
}

// Flex center
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Focus visible
@mixin focus-visible {
  &:focus-visible {
    outline: 2px solid vars.$color-accent;
    outline-offset: 2px;
  }
}

// Truncate text with ellipsis
@mixin truncate($lines: 1) {
  @if $lines == 1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  } @else {
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

// typography
@mixin heading {
  font-family: "EuclidSquare";
  font-weight: 500;
}

@mixin large-header {
  font-size: 3.2rem;
  @include heading();

  @include min-width(md) {
    font-size: 4rem;
  }

  @include min-width(lg) {
    font-size: 4.6rem;
  }

  @include min-width(xl) {
    font-size: 5.8rem;
  }
}

@mixin h1 {
  font-size: 2.6rem;
  @include heading();

  @include min-width(md) {
    font-size: 3.2rem;
  }

  @include min-width(lg) {
    font-size: 4rem;
  }

  @include min-width(xl) {
    font-size: 4.6rem;
  }
}

@mixin h2 {
  font-size: 3.6rem;
  @include heading();
}


// inputs
@mixin styled-input-radio {
  display: none;

  &:checked + span,
  &:checked + label {
    &:after {
      opacity: 1;
    }
  }

  & + span,
  & + label {
    position: relative;
    z-index: 1;
    padding-left: 2.9rem;

    &:before {
      content: "";
      position: absolute;
      z-index: 1;
      left: 0;
      top: -2px;
      width: 1.8rem;
      height: 1.8rem;
      border-radius: 50%;
      border: 1px solid vars.$color-border;
    }

    &:after {
      content: "";
      position: absolute;
      z-index: 2;
      background-color: vars.$color-accent;
      width: 1.2rem;
      height: 1.2rem;
      border-radius: 50%;
      left: 0.4rem;
      top: 0.2rem;
      opacity: 0;
      transition: opacity .3s ease-in-out;
    }
  }
}

@mixin styled-input-checkbox {
  display: none;

  &:checked + span,
  &:checked + label {
    &:after {
      opacity: 1;
    }
  }

  & + span,
  & + label {
    position: relative;
    z-index: 1;
    padding-left: 2.8rem;

    @include min-width(md) {
      padding-left: 3.3rem;
    }

    &:before {
      content: "";
      position: absolute;
      z-index: 1;
      left: 0;
      top: 0;
      width: 1.4rem;
      height: 1.4rem;
      border: 1px solid vars.$color-border;

    @include min-width(md) {
      top: -2px;
      width: 1.8rem;
      height: 1.8rem;
    }
  }

  &:after {
    content: "";
    position: absolute;
    z-index: 2;
    background-color: vars.$color-accent;
      width: 1rem;
      height: 1rem;
      opacity: 0;
      left: 0.3rem;
      top: 0.3rem;
    transition: opacity .3s ease-in-out;

    @include min-width(md) {
      width: 1.2rem;
      height: 1.2rem;
      left: 4px;
      top: 2px;
    }
    }
  }
}
