* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  margin: 0;
  min-width: 320px;
  background-color: white;
  font-family: 'Gilroy', sans-serif;
  font-weight: 400;
  color: black;
  font-size: 16px;
  line-height: 22px;
  overflow-x: hidden;
  overflow-y: auto;
  font-smoothing: antialiased;
  scroll-behavior: smooth;
  padding-top: 41px;
  @include sm {
    padding-top: 52px;
  }
  p {
    margin-bottom: 22px;
    margin-top: 0;
  }
}

.app-content {
  flex: 1 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

svg path,
svg polygon,
svg rect {
  transition: all 0.3s ease-in-out;
}

a {
  display: inline-block;
  text-decoration: underline;
  text-decoration-color: transparent;
  text-underline-offset: 2px;
  transition: text-decoration-color .3s ease-in-out, color 0.3s ease-in-out;

  &:hover {
    text-decoration-color: inherit;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Gilroy', sans-serif;
  line-height: 1.2;
  margin: 0;
}

h1 {
  font-size: 28px;
  @include medium {
    font-size: 32px;
  }
  @include large {
    font-size: 38px;
  }
  @include xl {
    font-size: 48px;
  }
}

h3 {
  font-size: 28px;
  @include large {
    font-size: 36px;
  }
}

video {
  max-width: 100%;
}

.video-frame {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}
