@import "nib"
@import "vars"
@import "mixins"

.wrapper
  margin auto
  padding-right 15px
  padding-left 15px
  max-width: 1140px
  @media (max-width: max-extra-large)
    max-width: 960px;
  @media (max-width: max-large)
    max-width 720px
  @media (max-width: max-medium)
    max-width 540px
  @media (max-width: max-sm)
    max-width 100%